/* Styling for the search input */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  /* Styling for the search results */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Styling for the search results container */
  .search-results-container {
    margin-top: 20px;
  }
  
  .nav-button:active,
.notification-button:active {
    background-color: rgba(0, 0, 0, 0.1); /* Change this to your desired active background color */
}

/* Remove the default button outline when clicked */
.nav-button:focus,
.notification-button:focus {
    outline: none;
}