.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.btn-login-register{
  margin-top:2rem;
}

.notification-icon {
  margin-right: 5px;
  height: 1em;
  width: auto;
}


.notification-button {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  transition: color 0.3s, transform 0.2s ease-in-out;
}


.nav-button {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.nav-icon {
  margin-right: 5px;
  height: 1em;
  width: auto;
}

.nav-button:hover {
  color: #fff;
}

.notification-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 5px;
  height: 1em;
  width: auto;
  fill: #ccc; 
  transition: fill 0.3s; 
}

.notification-button:hover .notification-icon {
  fill: #fff; 
}

.notification-button:hover {
  color: #fff;
}



.nav-button:active,
.notification-button:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-button:focus,
.notification-button:focus {
  outline: none;
}


