.card {
    top:15%;
    left:10%;
    position:fixed;
    width: 80%;
    height: 80vh; /* Adjust the height of the card */
    background-color: rgba(75, 72, 69, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2%;
    overflow-y: auto;
    overflow-x: hidden; /* Enable scrolling within the card container */
    margin: auto; /* Center the card horizontally */
    display: flex; /* Use flexbox for centering vertically */
    flex-direction: column; /* Arrange the content in a column */
    margin: auto;
    color:rgb(177, 177, 177);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y:auto;
  }

  
.statistic-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .statistic {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }