.card {
  top:15%;
  left:10%;
  position:fixed;
  width: 80%;
  height: 80vh;
  background-color: rgba(75, 72, 69, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2%;
  overflow-y: auto;
  overflow-x: hidden; 
  margin: auto;
  display: flex; 
  flex-direction: column; 
  margin: auto;
  color:rgb(177, 177, 177);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow-y:auto;
}


.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.profile-locations {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eee;
}


.column {
  width: calc(50% - 20px); 
}

.column p {
  margin-bottom: 10px;
}

.recommended-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  width: calc(50%); 
  margin-right:100px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin:auto;
}

.user-info{
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followers-following {
  display: flex;
  align-items: center;
}

.followers-following p {
  margin-right: 20px;
}

.profile-locations {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.uploaded-images {
  padding: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-card img {
  width:400px;
  height:200px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
