<div class="card">
  <div class="profile-container">
    <div *ngIf="user" class="profile-header">

      <div class="profile-info">
        <div class = "user-info">
        <h2>{{ user.name }}</h2>
        <p strong>@{{ user.username }}</p>
      </div>
        <button *ngIf="!isCurrentUserProfile() && !isFollowingUser()" (click)="followUser()" class="btn btn-primary">Follow</button>
        <button *ngIf="!isCurrentUserProfile() && isFollowingUser()" (click)="unfollowUser()" class="btn btn-danger">Unfollow</button>
        <div class="followers-following">
          <p><strong>{{ followers.length }}</strong> Followers</p>
          <p><strong>{{ following.length }}</strong> Following</p>
        </div>
      </div>
    </div>
  
    <div class="profile-locations">
      <div class="column">
        <p>Visited Locations:</p>
        <ul>
          <li *ngFor="let location of user.visitedLocations">{{ location.name }}</li>
        </ul>
      </div>
      <div class="column recommended-column">
        <p>Recommended Locations:</p>
        <ul>
          <li *ngFor="let location of locations">{{ location.name }}</li>
        </ul>
      </div>
    </div>
    
  
    <div class="uploaded-images">
      <h2>Uploaded Images</h2>
      <div class="image-grid">
        <div class="image-card" *ngFor="let image of images" (click)="openImageModal(image)">
          <img [src]="image.filePath" alt="{{ image.name }}">
        </div>
      </div>
    </div>
  </div>
</div>
