.map-container {
    margin-top:50px;
    height: 90vh; /* Set height to 66.67% of viewport height */
    width: 100%; /* Make sure container takes up full width of viewport */
    position: relative; /* Set the position to relative for the child element */
  }
  
  #map {
    position: absolute; /* Set the position to absolute to occupy the full height of the parent */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .image-overlay {
    position: absolute;
    bottom: -100px;
    right: -100px;
    z-index: 1000; /* make sure the overlay is on top of the map */
  }
  
  .image-overlay img {
    width: 400px;
    height: auto;
  }
body{
    overflow-x:hidden;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (image) */
#modalImage {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

/* Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
