.card {
  top:15%;
  left:10%;
  position:fixed;
  width: 80%;
  height: 80vh; 
  background-color: rgba(75, 72, 69, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2%;
  overflow: auto;
  margin: auto; 
  display: flex; 
  flex-direction: column;
}
  
  .feed-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
  }
  

  .post img {
    width: 70%; 
    height: 100%; 
    object-fit: cover; 
    
  }
  
  

  
  .post-text {
    font-size: 16px;
  
  }
  

  
  .post-stats {
    font-size: 14px;
    color: #777;
    margin-top: 5px;

    margin:auto;
    padding-left:5vw;
    padding-right:5vw;
  }
  .toggle-view {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .toggle-label {
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    transition: all 0.3s;
  }
  
  .toggle-label.active {
    font-weight: bold;
    color: rgb(223, 222, 222);
  }
  
  .toggle-label.inactive {
    color: rgb(146, 146, 146);
  }
  

  .toggle-label:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }


.post {
  border: 1px solid #9696969f;
  border-radius: 5px;
  display: flex;
  margin:auto;
  max-width: 50%;
  height: auto;
  position: relative;
  background-color: #03030375;
}

.post-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  text-align: center;
  padding: 5px;
  position: absolute; 
  top: 0; 
  left: 0;
}

.username {
  font-weight: bold;
  text-decoration: none;
  color: #fff; 
}



.post-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-left:auto;
  margin-right:auto;
}


.post-image-container img {
  width: 100%;
  height: auto;
  
}

.post-text {
  flex-grow: 1; 
}

.post-details {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-width{
  width:10vw;
}
.post-name{
  margin:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}