<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<div class="card" (scroll)="onCardScroll($event)">
  <div class="feed-container">
    <div class="toggle-view">
      <span
        class="toggle-label"
        [ngClass]="{ 'active': !showFollowingPosts, 'inactive': showFollowingPosts }"
        (click)="toggleView()"
      >
        Explore
      </span>
      <span
        class="toggle-label"
        [ngClass]="{ 'active': showFollowingPosts, 'inactive': !showFollowingPosts }"
        (click)="toggleView()"
      >
        Following
      </span>
    </div>
    
    
    <div *ngFor="let post of posts; let last = last" class="post">
      <div class="post-content">
        <div class="post-image-container">
          <img [src]="'http://localhost:8080/getImage/' + post.image.filePath" alt="{{ post.image.name }}">
        </div>
        <div class="post-text">
          <div class="post-header">
            <a class="username" [routerLink]="'/profile/' + post.user.username">@{{ post.user.username }}</a>
          </div>
          
        </div>
        <div class="post-stats">
         <p class = "post-name"> {{ post.image.name }} </p>
          <span class="likes"><i class="bi bi-heart"></i> {{ post.likes.length }} Likes </span>
          <span class="comments"><i class="bi bi-chat-dots"></i> {{ post.comments.length }} Comments </span>
        </div>
        <div class="post-details">
          <button class="btn btn-primary btn-width" (click)="likePost(post)">
            <i class="bi" [ngClass]="{'bi-heart': !isPostLiked(post), 'bi-heart-fill': isPostLiked(post)}"></i>
          </button>
          <button class="btn btn-secondary btn-width" (click)="openPostDetailModal(post, token, userEmail)">
            <i class="bi bi-chat-dots"></i>
          </button>
        </div>

    </div>
  </div>
</div>
