.card {
  top: 15%;
  left: 10%;
  position: fixed;
  width: 80%;
  height: 80vh;
  /* Adjust the height of the card */
  background-color: rgba(75, 72, 69, 0.8);
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2%;
  overflow: auto;
  /* Enable scrolling within the card container */
  margin: auto;
  /* Center the card horizontally */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Use flexbox for centering vertically */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Arrange the content in a column */
}

.feed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post img {
  width: 70%;
  /* Set the desired width */
  height: 100%;
  /* Set the desired height */
  -o-object-fit: cover;
     object-fit: cover;
  /* Maintain aspect ratio and cover the entire container */
}

.post-text {
  font-size: 16px;
}

.post-stats {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.toggle-view {
  text-align: center;
  margin-bottom: 10px;
}

.toggle-label {
  cursor: pointer;
  font-size: 18px;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-label.active {
  font-weight: bold;
  color: #dfdede;
}

.toggle-label.inactive {
  color: #929292;
}

/* Additional styling for hover effect */
.toggle-label:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Your existing CSS styles */
.post {
  border: 1px solid #9696969f;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 50%;
  height: auto;
  /* Auto height to fit the content */
  position: relative;
  /* Add positioning for the relative positioning */
  background-color: #03030375;
}

.post-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Add background color */
  color: #fff;
  /* Text color */
  text-align: center;
  padding: 5px;
  position: absolute;
  /* Position above the image */
  top: 0;
  /* Position at the top of the post */
  left: 0;
}

.username {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  /* Text color */
}

/* Your existing styles ... */
.post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Center-align the content horizontally */
  margin-left: auto;
  margin-right: auto;
}

.post-image-container img {
  width: 100%;
  height: auto;
}

.post-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Allow text to take up available space */
}

.post-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-width {
  width: 10vw;
}

.post-name {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=user-feed.component.css.map */