.notifications-container {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.966);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 10000;
  padding: 15px;
  overflow-y: auto; 
  color:whitesmoke;
}

.show {
  right: 0;
}

.notifications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.notifications-list {
  padding-top: 10px;
}

.notification {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.notification p {
  margin: 0;
}

.notification strong {
  font-weight: bold;
}


.notifications-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.show-backdrop {
  display: block;
}
.close-button {
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button:hover {
  color: #fff;
}