<div class="register-form">
    <h2>Register</h2>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password">
      </div>
      <div *ngIf="error" class="error-message">{{error}}</div>
      <button type="button" class="btn btn-primary" (click)="register()">Register</button>
      <div *ngIf="succesful" class="succesful-message">{{succesful}}</div>
    </form>
  </div>
  